:root {
    --main-color: #9c6c44;
    --main-color-alternative: #f4f4f4; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    color: var(--main-color);
    background: var(--main-color-alternative);
    text-align: center;
}

header {
    background-image: url("https://viktoriia-fcodetc.github.io/fullscreen-landing-hw/imgs/beachshowcase.jpg");
    background-size: cover; 
    background-position: center;
    height: 100vh;
}

header > div > a {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: var(--main-color);
    border: var(--main-color) 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
header > div > a:hover {
    background: var(--main-color);
    color: var(--main-color-alternative);
}

h1 {
    font-size: 50px;
    line-height: 1.2;
}

p {
    font-size: 20px;
}

.headerContent {
    position: absolute; 
    width: 100%;
    top: 50%; 
    left: 50%; /* сдвигаю контент отнасительно родителоя ровно на середину */
    transform: translate(-50%, -50%); /* выравниваю блок относительно своего размера таки образом в сочитании с лефт и топ полкчаю равно позиционирование по середине отнасительно родителя по вертикали и горизонтали. */
}

#section-1 {
    padding: 20px;
    background: var(--main-color);
    color: var(--main-color-alternative);
}

#section-2 {
    padding: 20px;
}

#section-3 {
    display: table;
    /* width: 100%; */
    /* table-layout: fixed;  */
    /* Жестко фиксируем ширину колонок, чтобы они были строго равны */
}

#section-3 > div {
    display: table-cell; /* Делаем div-ы "ячейками" таблицы */
    width: 33.3333%; /* Каждому ровно по трети экрана */
    padding: 20px; 
    text-align: left;
}

#section-3 > div:first-child,
#section-3 > div:last-child {
    background-color: var(--main-color); 
    color: var(--main-color-alternative);
}

/* #section-3 > div:nth-child(2) {
    background-color: #dcedc8; 
} */

/* 5. Стили для самого абзаца внутри центральной колонки (синий прямоугольник) */
/* #section-3 > div:nth-child(2) p {
    padding: 20px;  
    margin: 0; 
} */