:root {
  --line-color: rgba(255, 255, 255, 0.4);
  --btn-color: white;
  --input-background: lightgray;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://www.zastavki.com/pictures/originals/2017Nature___Beach_Transparent_blue_water_in_the_ocean_near_a_tropical_beach_115970_.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    color: white;
}

.section-form {
    padding: 40px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid var(--line-color);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px; 
}

.form-row {
    display: flex;
    align-items: center;
}

.message-row {
    align-items: flex-start; 
}

.form-label {
    width: 130px; 
    flex-shrink: 0; 
}

.input-group {
    display: flex;
    flex: 1;
    gap: 15px;
}

.form-input {
    flex: 1;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 2.5px solid var(--line-color);
    outline: none;
    background-color: var(--input-background);
}

.form-input-textarea {
    resize: vertical; /* Позволяет пользователю растягивать поле только по вертикали */
    font-family: inherit; 
}

.form-select {
    flex: 1;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--line-color);
    background-color: var(--input-background);
}

.form-header {
    margin-bottom: 40px; 
}

.form-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px; 
}

.form-description {
    font-size: 14px;
}

.form-input[name="phone1"],
.form-input[name="phone2"] {
    flex: 1;
}

.form-input[name="phone3"] {
    flex: 1.5;
}

.form-divider {
    width: 100%;
    border: none;
    border-top: 1px solid var(--line-color); 
    margin: 10px 0 20px 0; 
}

.submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--btn-color);
    background: linear-gradient(to right, #004d4d, #006666); 
    box-shadow: 0 4px 8px rgba(0, 102, 102, 0.4);
}

.btn-text {
    border-bottom: 1px solid var(--btn-color); 
    padding: 4px 10px;
}

@media (max-width: 433px) {
    .section-form {
        padding: 20px;
    }    
    
    .contact-form {
        padding: 0;
    }

    .form-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .form-label {
        width: 100%;
        padding-top: 0;
    }

    .input-group {
        flex-direction: column;
        width: 100%;
    }

    .form-header {
        margin-bottom: 20px; 
    }

    .form-divider {
        margin: 0; 
    }
}