@font-face {
    font-family: 'Fontdiner Swanky';
    src: url('./../Material/Font/fontdiner-swanky.ttf') format('ttf'); 
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    background-origin: padding-box;
}

a {
    text-decoration: none;
}

body {
    background-color: bisque;
}

.logo {
    font-family: 'Fontdiner Swanky', cursive; 
    font-size: 40px; 
    color: white; 
}

.main-header {
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.nav-links {
    display: flex;
    /* align-items: center; */
    /* color: white;  */
    /* flex-wrap: wrap; */
}

.nav-link {
    /* display: flex; */
    /* align-items: center; */
    color: white; 
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    margin: 20px;
}

.btn {
    color: white;
    border: 2px solid white;
    border-radius: 4px; 
    background-color: #262626;
    padding: 15px 25px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover {
    background-color: white;
    border-color: #262626;
    color: #262626;
}

@media screen and (max-width: 900px) {
    .main-header {
         flex-direction: column;
         gap: 20px;
         align-items: start;
    }
    .nav-link:first-child {
    margin-left: 0;
    }
}

@media screen and (max-width: 435px) {
    .nav-links {
        flex-direction: column;
    }
    .nav-link {
    margin-left: 0;
    }
}